/* Base stles */
body {
    font-family: "Roboto", sans-serif;
    background: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    color: #434455;
}

.link {
    text-decoration: none;
}

:root {
    --link-logo: #4d5ae5;
    --logo-text-color: #2E2F42;
    --link-item: #2E2F42;
    --list-item: #2e2f42;
    --list-address: #434455;
    --list-item-title-feature: #2E2F42;
    --footer-logo-text: #4D5AE5;
    --footer-link: #4d5ae5;
    --filter-button: #4D5AE5;
    --filter-background: #F4F4FD;
    --row-list-item: #2e2f42;
    --row-list-des: #434455;
}

/* Header */

/* Menu Nav */

/* Logo WebStudio */
nav>.link-logo {
    color: var(--link-logo);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    text-decoration: none
}

.logo-text {
    color: var(--logo-text-color);
}


.list {
    list-style: none;
}

.list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
    color: var(--link-item)
}

.link:hover {
    color: #404bbf
}

.link:focus {
    color: #404bbf;
}

ul {
    list-style-type: none;
}

.list-nav {
    list-style: none;
}

.list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--list-item)
}


/* adress */
.address {
    font-style: normal;
}

.link-address {
    color: var(--list-address);
    text-decoration: none;
}

.link-address:hover {
    color: #404bbf
}

.link-address:focus {
    color: #404bbf
}

/* Main */


/* Section 1 (Hero) */
.hero {
    font-family: "Roboto",
        sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
    background: var(--navyblue, #2E2F42);
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFF;
    text-align: center;
}

.hero-button-text {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    background: var(--iris, #4D5AE5);
    text-align: center;
    cursor: pointer;
}

.hero-button-text:hover {
    background-color: #404bbf
}

.hero-button-text:focus {
    background-color: #404bbf
}

/* Section 2 (Features)*/

.feature {
    font-family: "Roboto",
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
    background: #FFF;
}

.list-item-title-feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--list-item-title-feature)
}

.feature-list-discription {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate, #434455);

}

/* Section 3 (Projects) */
.projects {
    font-family: "Roboto",
        sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    background: #FFF;
    text-align: center;

}

.projects-title {
    color: var(--navyblue, #2E2F42);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;


}


/*<Section 4 (Team)*/

.team {
    background: var(--cloud, #F4F4FD);
}

.team-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

}

.team-list {
    background: var(--white, #FFF);
    text-align: center;

}

.team-list-item {
    color: var(--navyblue, #2E2F42);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.team-list-description {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */

.footer {
    font-family: "Raleway",
        sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    background: var(--navyblue, #2E2F42);
    line-height: 1.17;
}

.footer-link {
    color: var(--footer-link);
}

.fotter-logo-text {
    color: var(--fotter-logo-text);
    line-height: 1.17;
    color: #f4f4fd;
}

.footer-description {
    color: var(--cloud, #F4F4FD);
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    text-transform: none;
}


/* Page (Portfolio)*/
/* Main */
/* Sectin menu filters */

.filter-button {
    color: var(--filter-button);
    background-color: var(--filter-background);
    text-align: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.64px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
}

.filter-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.filter-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/* Sectin rows */
.row-link {}

.row-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--row-list-item);
}

.row-list-descreption {
    color: var(--row-list-des);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}